p {
  background-color: #c7d9fa;
  font-size: 15px;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  background-color: #46c1fa;
}

body {
  background-color: #C3ECFF;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  margin: 0px;
}

.sidebar {
  position: fixed;
  color: black;
  width: 15%;
  height: 100%;
  background-color: rgb(241, 218, 218);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 10px;
  float: left;
}

.topbar {
  background-color: #46c1fa;
  text-align: center;
  width: 100%;
  margin: 0px;
}

.main {
  float: right;
  width: 85%;
  margin: 0px;
}

.content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  margin: 0px;
}

.big-image {
  width: auto;
  height: 600px;
}

.medium-image {
  width: auto;
  height: 300px
}

.wide-medium-image {
  width: 400px;
  height: auto;
}

.small-image {
  width: auto;
  height: 200px;
}

.long-small-image {
  width: 500px;
  height: auto;
}

.image-border {
  border-color: black;
  border-width: 10px;
  border-style: solid;
}

.misc-divider {
  padding-bottom: 50px;
}

.head-divider {
  padding: 15px 0xp 15px 0px;
}

.text-divider {
  padding: 10px 0px 10px 0px;
}

#title-font {
  font-family: cursive;
  color: rgb(63, 53, 46);
  font-size: 40px;
}

@media only screen and (max-width: 1000px) {
  p {
   font-size: 15px;
  }
  h1 {
   font-size: 15px;
  }
  li {
   font-size: 15px;
  }
  .big-image {
   height: 60%;
   width: 60%;
  }
  .medium-image {
    width: 70%;
    height: 70%;
  }
  .small-image{
    width: 90%;
    height: 90%;
  }
  .image-border {
    border-color: black;
    border-width: 6px;
    border-style: solid;
}
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
  .big-image {
    height: 50%;
    width: 50%;
  }
  .medium-image {
    width: 60%;
    height: 60%;
  }  
  .small-image{
    width: 110%;
    height: 110%;
  }
  .image-border {
    border-color: black;
    border-width: 2px;
    border-style: solid;
  }
  .sidebar {
    position: sticky;
    color: black;
    width: 100%;
    height: 10%;
    background-color: rgb(241, 218, 218);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
  }
  .main {
    margin: 0px;
    text-align: center;
    float: left;
  }
}